@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: #0d0d0d;
}

header img{
    width: 100%;
}

header{
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #d9d9d9;
}

figure{
    width: 5%;
    text-align: center;
}

button{
    all: unset;
    background-color: #0d0d0d;
    color: #d9d9d9;
    width: 7%;
    height: 35px;
    text-align: center;
    border: 2px solid #362986;
    cursor: pointer;
}
nav{

    border-bottom: 1px solid #151515;
    margin: 3% 10% 0 10%;
    padding-bottom: 30px;
}
nav li{
    display: inline-block;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    color: #73727B;
    font-size: 18px;
}

li{
    cursor: pointer;
}

#atual{
    color: #362986;
}

button:hover, li:hover{
    opacity: 0.7;
}

h1{
    color: #362986;
    font-size: 45px;
    margin-bottom: 15px;
}

pre{
    margin-bottom: 15px;
    color: #9895B1;
    font-size: 18px;
}
h2{
    margin: 15px 0;
    color: #362986;
    font-size: 26px;
}
p{
    margin-bottom: 25px;
    color: #9895B1;
    font-size: 18px;
}
aside img{
    width: 20%;
}

article{
    display: inline-block;
    width: 50%;
    margin: 70px 0 0 70px;
    padding: 0 0 50px 0;
    border-right: 1px solid #151515;
}
aside{
    display: inline-block;
    align-self: start;
    width: 30%;
    margin: 0 0 0 50px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 5% 5% 0 5%;
    padding: 3%;
    border-top: 1px solid #151515;
}
footer img{
    width: 11%;
    animation: float 3s infinite;
    padding: 20px 0;
}

footer ul{
    list-style: none;
    color: #73727B;
    font-size: 18px;
}

footer li{
    margin-bottom: 20px;
}

@keyframes float {
    0%{
        padding-top: 0;
        padding-bottom: 40px;
    }
    50%{
        padding-top: 40px;
        padding-bottom: 0;
    }
    100%{
        padding-top: 0;
        padding-bottom: 40px;
    }
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 100px;
}

main h1{
    margin-bottom: 50px;
}